{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  {%- assign is_draft = false -%}
  {%- assign is_future = false -%}
  {%- if post.path contains '_drafts/' -%}{%- assign is_draft = true -%}{%- endif -%}
  {%- if post.date > site.time -%}{%- assign is_future = true -%}{%- endif -%}
  <article{% if is_draft or is_future %} class="post-preview-unpublished"{% endif %}>
    {% include meta.html post=post preview=true is_draft=is_draft is_future=is_future %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}" title="{{ post.title }}">read more…</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span class="disabled">« newer posts</span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span class="disabled">older posts »</span>{% endif %}
  </footer>
{% endif %}
