---
layout: default
---
<article>
  {{ content }}
  <header><h1>Posts</h1></header>
  <ul>
    {%- assign posts = paginator.posts | default: site.posts -%}
    {% for post in posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>

{% if paginator.total_pages > 1 %}
<footer class="{% if site.dark_footer %}dark{% endif %}">
  {% if paginator.previous_page %}<a class="gray" href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span class="disabled">« newer posts</span>{% endif %}
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}<a class="gray" href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span class="disabled">older posts »</span>{% endif %}
</footer>
{% endif %}
