---
layout: default
---
{% for page in paginator.posts %}
{%- assign is_draft = false -%}
{%- assign is_future = false -%}
{%- if page.path contains '_drafts/' -%}{%- assign is_draft = true -%}{%- endif -%}
{%- if page.date > site.time -%}{%- assign is_future = true -%}{%- endif -%}
<article{% if is_draft or is_future %} class="post-preview-unpublished"{% endif %}>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1>
      <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      {%- if is_draft %}
      <svg aria-label="Draft" class="icon icon-status" title="Draft"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#pencil-alt"></use></svg>
      {%- elsif is_future %}
      <svg aria-label="Future" class="icon icon-status" title="Scheduled"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#robot"></use></svg>
      {%- endif %}
    </h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
  </header>
  {{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer class="{% if site.dark_footer %}dark{% endif %}">
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %}
